<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Header -->
    <%- include('./modules/global/header.ejs'); %>
</head>

<body>
    <div class="app">
        <!-- Navbar -->
        <%- include('./modules/global/navbar.ejs'); %>
        <div style="margin: 10px 0 10px 0;"></div>
        <div class="container-fluid">
            <div class="row justify-content-evenly">
                <% if (web.session.sessions.length > 0) { %>
                <!-- Loop Cards-->
                <%- include('./modules/index/cardsLoop.ejs'); %>
                <% } else { %>
                <!-- No Cards -->
                <%- include('./modules/index/cardsNone.ejs'); %>
                <% } %>
            </div>
        </div>
    </div>

    <!-- Delete Meeting -->
    <%- include('./modules/index/js/deleteMeeting.ejs'); %>
</body>

</html>