        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a id="title" class="navbar-brand notoReg"><%= web.title %></a>
                <div style="justify-content:space-evenly">
                    <a href="<%= web.btn.first.href %>">
                        <button id="fisrt-btn"
                            class="btn btn-secondary my-2 my-sm-0"><%= web.btn.first.title %></button></a>
                    <a href="<%= web.btn.second.href %>">
                        <button id="second-btn"
                            class="btn btn-secondary my-2 my-sm-0"><%= web.btn.second.title %></button></a>
                </div>
            </div>
        </nav>